.DS_Store
*.log
*.class
*.jar
*.war
*.ppk
*.orig
git.properties
.classpath
target/
logs/
temp/
reports/
.settings/
.project
.JxBrowser/
.java/
.ant-targets-build.xml
org.eclipse.jdt.core.prefs
bin/
x86/
Makefile
.dep.mk
.qnx_internal.mk
*.mk

